// base elements
a { text-decoration: none; }

p { margin: 0 0 15px 0; }

nav {
    > ul { 
        margin: 0; 
        padding: 0; 
    }
}

*:hover {
    @include transition(all 250ms);
}


// helper classes
.container {
    margin: 0 auto;
    width: 960px;
}


.clearfix {
    &:after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}



// sass mixins and variables
@mixin hidetext {
    background-color: transprent;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    text-shadow: none;
}

