
// sass mixins and variables
@mixin hidetext {
    background-color: transprent;
    border: 0;
    color: transparent;
    display: block;
    font: 0/0 a;
    text-shadow: none;
}


@mixin clearfix {
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after { clear: both; }
}




// base elements
// layout elements
body, 
html { height: 100%; }

body {
    font: 13px/1.4 arial, sans-serif;
}


a { text-decoration: none; }

p { margin: 0 0 15px 0; }

nav {
    > ul { 
        margin: 0; 
        padding: 0; 
    }
}






// helper classes
